<h2 align="center">
  Title <%= @article.title %>
</h2>
<div class="well col-xs colxs-offset-2">
  <h4 class="center description">
    <strong>
      Description
    </strong>
  </h4>
  <hr>
  <%= simple_format(@article.description) %>
  <div class="article-actions">
    <%= link_to 'Editar',edit_article_path(@article), class: 'btn btn-xs btn-primary' %>
    <%= link_to 'Delete', article_path(@article),
                method: :delete,
                data: { confirm: 'Estas seguro ?' },
                class: 'btn btn-xs btn-danger' %>
    <%= link_to 'Ver todos los articulos',articles_path, class: 'btn btn-xs btn-success' %>
  </div>
</div>