$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo
{
  float: left;
  font-size: 1.7em;
  color:#fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover
{
  color:#fff;
  text-decoration: none;
}

.center
{
  text-align:  center;
}

.jumbotron
{
  background-image: asset-url('back_ground_cover.jpg');
  -webkit-background-size:cover;
  background-size:cover;
  height:550px;
}

.jumbotron h1{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-xlarge
{
  font-size: 1.7em;
  background-color: black;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.article-actions
{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}
.description
{
  margin-top: 0;
}

.article-title
{
  font-weight: bold;
  font-size: 1.5em;
}

.article-body
{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

